#navbar {
    background-color: #ffb2b2;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0 0px;
}

.logo {
    font-size: 24px;
    margin-left: 30px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li:last-child {
    margin-right: 50;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ffcc00;
}

.class1 {
    background-color: palevioletred;
    color: white;
    padding: 20px;
}

.class2 {
    background-color: pink;
    color: white;
    padding: 20px;
}

.class3 {
    background-color: plum;
    color: white;
    padding: 20px;
}